Binaries
Build/**
Content/ArtContent/**
Content/DataTable/**
Releases/**
Saved/**
IOS/**
Intermediate
DerivedDataCache/**
Android/**
Android_ETC1/**
Android_ETC2/**
Packed/**
PluginDevZone.xcodeproj/
CachedAssetRegistry.bin
PluginDevZone.opensdf
PluginDevZone.sdf
PluginDevZone.v12.suo
Pack_iOS.*
PackageCommand
/*.log
/*.command
/*.sh
/*.bat
/*.txt
PluginDevZoneVersionConfig
*.xcworkspacedata
PluginDevZone.xcworkspace
PluginDevZone.VC.opendb
.vs/PluginDevZone/v14/.suo
PluginDevZone.VC.VC.opendb
PluginDevZone.VC.db
*.log
